@font-face {
    font-family: futura;
    src: url(../fonts/Futura.ttf);
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/googleFont.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html,body
{
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	
	font-family: futura;
}
header
{ 
	display: block;
	position: fixed;
	height: 40%;
	z-index: 5;
	width: 100%;
	max-width: 2000px;
	margin: 0;
	background: #cc8c1b;
	overflow: hidden;
}
#container
{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
	margin-bottom: 40px !important;
	z-index: 6;
}

#container-central p
{
	color: white;
}

#container-central
{
	margin: 70px auto 0px; 
	text-align: center;
	width: 80%;
	height: auto;
	overflow: auto;
}
footer
{
	position: fixed;
	width: 100%;
	margin: 30px auto 0px;
	height: 40px;
	bottom: 0px;
	border-top: 1px solid black;
	text-align: center;
	background: #000;
	color: white;
}
#header-logo
{ 
	height: 70px;
	padding:10px; 
	overflow: hidden;
	display: block;
}
#header-logo img
{
	width: auto;
	height: 60px;
	margin: 10px;
}
#header-menu
{
	text-align: right;
}
#header-menu li
{
	display: inline-block;
	width: auto;
	padding: 0px 10px; 
	margin-left: 10px;
	text-align: left;
	border-bottom: 1px solid #bbb;
	margin: 0px 10px;
}
#header-menu li:hover
{
	border-bottom: 2px solid #b11600; 
	cursor: pointer;
	color: #b11600;
}

#tarjeta
{
	margin: 0px auto;
	width: 280px;
	height: auto;
	overflow: hidden;
	border: 1px solid white;
}
#titulo_tarjeta
{
	width: 100%;
	height: 80px;
	border-bottom: 3px solid #fff;
	background: white;
	color: #fff;
	overflow: hidden;

}
#contenido_tarjeta
{
	text-align: center;
	padding: 30px 0px;
	width: 100%;
	min-height: 100px;
	background: white;
}
#pie_tarjeta
{
	width: 100%;
	height: auto;
	padding: 5px 0px;
	border-top: 3px solid #fff;
	color: #000;
	overflow: hidden;

}
.text60
{
	font-size: 60pt;
	text-align: right;
	padding: 0px;
	height: 62px;
}
.inp
{
	width: 80%;
	height: 30px;
	color: black;
	border: none;
	outline: none;
	border-bottom: 1px solid black;
	font-size: 12pt;
	margin: 10px 0px;
	font-family: futura;
	outline: none;
}
.inp:focus
{
	border-bottom: 2px solid #cc8c1b;
	color: #b11600;
}
.btn
{
	width: 60%;
	height: 30px;
	margin: 20px 0px 10px;
	font-size: 12pt;
	border: 1px solid black;
	background: white;
	font-family: futura;
	cursor: pointer;
	outline: none;
}
.agregar
{
	width: 30px;
	height: 30px;
	padding: 0;
	margin: 0;
	border: 2px solid black;
}
.success:hover 
{
	border: 2px solid #cc8c1b;
	color: #cc8c1b;
}

.danger:hover 
{
	border: 2px solid #b11600;
	color: #b11600;
}
a
{
	text-align: center;
	text-decoration: none;
	color: black;
}
a > small:hover,li > a 
{
	color: #b11600;
}
a:visited
{
	color: black;
}

#actionMenu
{
	width: 100%;
	height: 30px;
	text-align: right !important;
}
.orderBy
{
	cursor: pointer;
}
.inp-danger
{
	border-color: red;
}
#msg
{
	width: 100%;
	color: black;
}












